<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body ng-app="TodoCalls">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center" ng-controller="NextCallCtrl">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Next Call</h1>
    <p>Your next call is soon</p>
	{{nextcall.name}} {{nextcall.phone}} {{nextcall.time}}
  </div>
</div>

<div class="container" ng-controller="CallsCtrl">
  <div class="alert alert-info text-center" role="alert">
   Latest call
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Calls</h3>
      <ul>
        <li>a</li>
        <li>a</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> New call</h3>
      <ul>
        <li><a href="#">new</a></li>
        <li><a href="#">next</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
   more description goes here
  </div>
</div>

<!-- includes -->
<script src="js/services/localStorageSvc.js"></script>
<script src="js/services/callSvc.js"></script>
<script src="js/controllers/nextCall.js"></script>
<script src="js/controllers/calls.js"></script>
<script src="js/app.js"></script>

</body>
</html>
